name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: action-zip
        uses: montudor/action-zip@v1.0.0  
        with:
          args: zip -qq -r smartpay-ec-cube-${{ github.ref_name }}.zip . -x "./.git/*" "./.github/*"
      - name: Release
        uses: softprops/action-gh-release@v0.1.14
        with:
          files: smartpay-ec-cube-${{ github.ref_name }}.zip
